body{
  background: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 0 !important;
  background-size: 100% cover!important;
  overflow:hidden;
  display: block;
} 

/* Set a style for the rest of the elements besides the header elements on the index.html page */

/* All Posts and Create Post */
.post {
  margin-top: 16%;
  background-color: yellow;
  padding: 10px;
  text-align: center;
  min-width: 100px;
  margin-right: 16px;
  cursor: pointer;
}

#all-posts {
  margin-left: 43%;
}

/* Create Post*/
.modal2 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.8);
  z-index: 1;
}

/* Modal Content */
.modal2-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closeModal2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

h1 {
  font-family: Arial;
}

label {
  font-family: Arial;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Arial;
}

textarea[type=text], select {
  width: 100%;
  height: 40
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Arial;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Arial;
}

input[type=submit]:hover {
  background-color: #45a049;
}

h1 {
  text-align: center;
}